.profile__avatar-vector{
    position: absolute;
    top: 40%;
    left: 43%;
    width: 26px;
    height: 26px;
    background-image: url("../../../images/Vector__avatar.png");
    background-size: cover;
    display:none;
    
}

